h1 {
    text-align: center;
}
body {
    background-color: #ECE1D2
}
 
#Title {
    color: black;
    text-align: left;
    font-size: 2rem;
    font-family: Oldschool, sans-serif;
}

div > div {
    background: #c6f6c6;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

div:nth-of-type(3) span {
    color: blue;
    text-decoration: underline;
}