h1 {
    text-align: center;
    color:aqua;
}
body {
    background-color: #be3d3d /*background with 50% opacity */
}
 
#Title {
    color: black;
    text-align: left;
    font-size: 2rem;
    font-family: Oldschool, sans-serif;
}

