/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Hanalei&family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector to overide default styles added by the browser*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General style*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    Color: #ECE1D2;
}

 /*Generic project styles*/
#home {
    min-height: 100vh;
}
/*Header*/

#Title {
    color: black;
    text-align: left;
    font-size: xx-large;
    font-family: Oldschool, sans-serif;
      }

/* Google fonts import */
.hanalei-regular {
    font-family: "Hanalei", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    color: darkgreen;
  }

/*Main Content*/

main {
    background-color: #7d3146; 
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: rgb(36, 56, 97); opacity: 0.8; /*light blue*/
}
