/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 
/*General style*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /*Generic project styles*/
    Color: #3a3a3a;
    font-family:'Lato',sans-serif;
}

/*header*/

header {
    background-color: #A1E8C4;
    padding: 0 1rem;
    position: fixed;
    z-index:99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a{
    text-decoration: none;
    color: inherit;
}

/* About us section */

#benefits-physical > div,

#about_us > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#about p {
    padding: 0 20px;
}

/* Banner */
    
h1{
    font-family: 'Oswald',sans-serif; 
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu >Li {
    margin-bottom: 1em;
}

#home {
        min-height: 100vh;
    }    

    .active {
        border-bottom: 1px solid #3a3a3a;
    }

    /* Navbar styles with dropdown toggle */
nav {
    position:absolute;
    background-color: #A1E8C4;
    width: 100%;
    left:0;
    padding: 0 1 rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top:100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
/* Main Content */

main {
    background-color:#A1E8C4; 
     
    /* Make main element take up any surplus space to push footer down */

    flex: 1 0 auto;
    margin-top: 47px;
}

    /* Hero image */

.hero-image {
    width: 56%;
    height: 100%;
    position: flex;
    }
    .hero-image img{
        max-width: 180%;
    }

    /* Banner */
    
div#banner { 
        position: sticky; 
        top: 0; 
        left: 0; 
        background-color: #DDEEEE; 
        width: 100%; 
      }
div#banner-content { 
        width: 100%; 
        margin: 0 auto; 
        padding: 10px; 
        border: none;
        text-align: center;
      }
div#main-content { 
        padding-top: 70px;
        text-align: center;

     }

     /* About Us Page  */
    #content-heading {
        padding-top: 10px;
        padding-right: 80px;
        padding-left: 50px;
        content: center;
    }
    #content-page{
        padding: 25px 50px 75px;
    
    }

    #Join-us_button{
        font-size: 12px;
        text-align: center;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        transition-duration: 0.4s;
        background-color: #04AA6D; /* Green */
        color: white;
        padding: 12px 28px;
        
        a:link {
            text-decoration: none;
            color: #ffff;
          }
          
          a:visited {
            text-decoration: none;
            color: #ffff;
          }
          
          a:hover {
            text-decoration: underline;
          }
          
          a:active {
            text-decoration: underline;
          }
    }
    #button_position {
        padding: 5px 0;
        text-align: center;
    }


     /* Contact Us Banner */


.contact-hero {
    position: sticky; 
    top: 0; 
    left: 0; 
    position: flex;
}
.contact-hero img{
    max-width: 180%;
    width: 100%;
    Border: 2px solid black

}

/* Contact Us Form  */
form{
    width: 33%;
    border: 2px solid black;
    margin-left: 33%;
    background-color: lightgrey;


}
#button {
    margin-left: 33%;
}

.form-control {
    width: 70%;
}

/*Footer*/

footer {
    height:50px;
}
 
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: Mobile and larger (300px and up) */
@media screen and (min-width: 300px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a; }
    
.hero-image img{max-width: 180%;
        }
}

/* Media query: Mobile and larger (600px and up) */
@media screen and (min-width: 600px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a; }
   

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}